.form{
    height:86vh;
    margin-top: 120px;
    background: #E9EEFA;
}
.form-wrapper{
    background: #fff;
    width: 40%;
    height: auto;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
}
.form-wrapper h2{
    color:rgb(0, 0, 216);
}
.form-wrapper p{
    color: rgb(136, 136, 136);
}
.form-input {
    margin: 10px;
    outline: none;
    border: none;
    border-left: 5px solid blue;
    background: rgb(241, 241, 241);
    padding: 10px;
    width: 80%;
}
.account-btn {
    text-decoration: none;
    font-weight: 500;
    display: block;
    padding-left: 20px;
}
input.submit-btn {
    outline: none;
    font-size: 18px;
    background: blue;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    padding: 9px 80px;
    border-radius: 100px;
    font-weight: 700;
}
.login-btns button {
    border-radius: 100px;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
}

@media (max-width:768px) { 
    .form{
        height:100%;
        margin-top: 120px;
        padding: 40px 0px;
    }
    .form-wrapper{
        background: #fff;
        width: 90%;
        height: auto;
        padding: 20px;
        border-radius: 10px;
    }
  }