.nav-link{
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: darkblue;
}
.custom-bg{
    background: rgba(255, 255, 255, 0.788);
    transition: all ease-in-out .2s;
    padding-left: 20px;
}
.login-btn{
    color:#fff !important;
    background: #0176D5;
}
.nav-item{
    border-bottom: 3px solid transparent;

}
.nav-item:focus{
    border-bottom: 3px solid #0176D5;
    color:#0176D5 !important;

}