
.custom-btn {
    background: rgb(0, 0, 206);
    padding: 13px 15px;
    border: none;
    border-radius: 57px;
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.3px;
}
.contact-bg {
    background: rgb(229 229 229);
    padding: 15px;
    border-radius: 5px;
}